.question_container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    position: relative;
    height: 100vh;
}

.question_content_container {
    padding: 10% 7%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 3%;
}

@media screen and (min-width: 768px) {
    .question_content_container {
        padding: 7% 4%; 
    }
}

.question_header {
    flex: 0 1 5%;
}

.question_title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.question_info {
    color: #666;
    font-size: 1em;
}

@media screen and (min-width: 768px) {
    .question_title {
        font-size: 2.5em;
    }
    .question_info {
        font-size: 1.6em;
    }
}

.question_main_content_container {
    flex: 0 1 35%;
    gap: 3%;
    display: flex;
    flex-direction: column;
}

.question_container_title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.question_content {
    background-color: rgba(30, 144, 255, 0.1);
    padding: 15px;
    border-radius: 8px;

    flex: 0 1 90%;
    height: 100%;
}

.question_answer_container {
    flex: 0 1 45%;
    display: flex;
    flex-direction: column;
    gap: 3%;
}

.question_answer_textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(30, 144, 255, 0.3);
    border-radius: 8px;
    resize: vertical;

    flex: 0 1 90%;
    height: 100%;
}



.question_final_button_container {
    flex: 0 1 5%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    
}

.question_final_button {
    flex: 1;
    padding: 10px;
    background-color: rgba(30, 144, 255, 0.1);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.question_final_button:hover {
    background-color: rgba(30, 144, 255, 0.2);
}

.question_final_button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

@media screen and (min-width: 768px) {
    .question_content,
    .question_answer_textarea,
    .question_final_button {
        font-size: 1.5em;
    }

    .question_container_title{
    font-size: 2.5em;}

    .question_content_container{
        gap: 5%;
    }

    .question_container_title{
        margin-bottom: 20px;
    }
}

.loading, .error, .not_found {
    text-align: center;
    padding: 20px;
    font-size: 1.2em;
}
